.bento-box {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    background: grey;
    
}

.box {
    border-radius: 10%;
}

.box-1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background: blue;
}

.box-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    background: red;
}

.box-3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    background: purple;
}
